= bootstrap_devise_error_messages!
.panel.panel-default
  .panel-heading
    %h4= t('.title', :resource => resource_class.model_name.human , :default => 'Edit #{resource_name.to_s.humanize}')
  .panel-body
    = simple_form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put } do |f|
      .form-group
        = f.input :email, as: :email, lable: 'Email', autofocus: true, class: "form-control"
        = f.input :first_name, lable: 'First Name', class: "form-control"
        = f.input :last_name, lable: 'Last Name', class: "form-control"
        = f.simple_fields_for :addresses do |address_form|
          = address_form.input :city, lable: 'City', class: 'form-control'
          = address_form.input :postal_code, lable: 'Postal Code', class: 'form-control'
          = address_form.input :address, lable: 'Address', class: 'form-control'
        %i
          (#{t('.leave_blank_if_you_don_t_want_to_change_it', :default => "leave blank if you don't want to change it")})
        %br/
        = f.input :password, as: :password, lable: 'Password', :autocomplete => "off", class: "form-control"
        %br/
        = f.input :password_confirmation, as: :password, lable: 'Password confirmation', class: "form-control"
        %i
          (#{t('.we_need_your_current_password_to_confirm_your_changes', :default => 'we need your current password to confirm your changes')})
        = f.password_field :current_password, class: "form-control"
      = f.submit t('.update', :default => "Update"), class: "btn btn-primary"
%p
  = t('.unhappy', :default => 'Unhappy')
  ? #{link_to t('.cancel_my_account', :default => "Cancel my account"), registration_path(resource_name), :data => { :confirm => t('.are_you_sure', :default => "Are you sure?") }, :method => :delete}.
= link_to "Back", :back
