= simple_form_for @movie, class: 'form_horizontal' do |form|
  = form.input :image, label: 'Poster'
  = form.input :name, class: 'form-control'
  = form.input :description, input_html: {class: 'form-control tinymce'}
  = form.input :release_date, as: :string, class: 'form-control datepicker'
  = form.select(:category_ids, options_for_select(@categories), {}, {multiple: true})
  = form.submit class: 'btn btn-info'
