#main.col-xs-12
  .form-group
    %h1 Listing of movies
    = link_to 'Create my movie', new_movie_path, class: 'btn btn-info'
    = link_to 'CSV', movies_path(format: 'csv'), class: 'btn btn-info'
    = link_to image_tag('feed-icon-28x28.png'), movies_url(format: 'atom')
  #movies_gallery.transitions-enabled
    - @movies.each do |movie|
      .box.panel.panel-default{id: "movie-#{movie.id}"}
        = link_to (image_tag movie.image, class: 'Edit'), movie
        %h2= movie.name
        %p.user
          Creator:
          = movie.user.full_name
= paginate @movies
