#main-container.container
  #movie_show.row
    .col-md-8.col-md-offset-2
      = render 'movies/tabs'
      .panel.panel-default
        .panel-heading.movie_image
          = image_tag @movie.image.url
        .panel-body
          %h1= @movie.name
          %p.description= @movie.description.html_safe
        .panel-footer
          .row
            .col-md-4
              %p.user
                Submitted by
                = @movie.user.full_name
            .col-md-8.text-right
              .btn-group
                = link_to 'Destroy', movie_path(@movie), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'

- if @movie.locations.exists?
  #map.movie_map{data: { markers: raw(@markers.to_json)}}
  :javascript
    $(function(){
      App3.init({map: true});
    });


