#movie_show.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading.movie_image
        = image_tag @movie.image.url
      .panel-body
        %h1= @movie.name
        %p.description= @movie.description.html_safe
      .panel-footer
        .row
          %p.user
            Submitted by
            = @movie.user.full_name
          .btn-group
            = link_to 'Edit', edit_movie_path(@movie), class: 'btn btn-info'
            = link_to 'Gallery', movie_uploads_path(@movie), class: 'btn btn-info'
            = link_to 'Monthly statistic', movie_monthly_statistics_path(@movie), class: 'btn btn-info'
            = link_to 'Daily statistic', movie_daily_statistics_path(@movie), class: 'btn btn-info'
            = link_to 'Destroy', movie_path(@movie), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
            = link_to 'Print (PDF)', movie_path(@movie, format: 'pdf'), class: 'btn btn-danger'

