#main-container.container
  #movie_show.row
    .col-md-8.col-md-offset-2
      %ul.nav.nav-tabs
        %li.active= link_to @movie.name, @movie
        %li= link_to 'Edit', edit_movie_path(@movie)
        %li= link_to 'Gallery', movie_uploads_path(@movie)
        %li= link_to 'Monthly statistic', movie_monthly_statistics_path(@movie)
        %li= link_to 'Daily statistic', movie_daily_statistics_path(@movie)
      .panel.panel-default
        .panel-heading.movie_image
          = image_tag @movie.image.url
        .panel-body
          %h1= @movie.name
          %p.description= @movie.description.html_safe
        .panel-footer
          .row
            .col-md-4
              %p.user
                Submitted by
                = @movie.user.full_name
            .col-md-8.text-right
              .btn-group
                = link_to 'Add to cart', add_to_the_cart_movie_path(@movie), class: 'btn btn-info', method: :post
                = link_to 'Destroy', movie_path(@movie), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
- if @movie.locations.exists?
  #map.movie_map{data: { markers: raw(@markers.to_json)}}
:javascript
  $(function(){
    App3.init({map: true});
  });


