.modal-body
  = simple_form_for user, class: 'form-horizontal' do |u|
    .form-group
      = u.input :email, as: :email, lable: 'Email', autofocus: true, class: 'form-control'
      = u.input :first_name, label: 'First name', class: 'form-control'
      = u.input :last_name, label: 'Last name', class: 'form-control'
      = u.simple_fields_for :address do |address_form|
        = address_form.input :id, as: :hidden, value: user.address.id
        = address_form.input :city, label: 'City', class: 'form-control'
        = address_form.input :postal_code, label: 'Postal code', class: 'form-control'
        = address_form.input :address, label: 'Address', class: 'form-control'
      = u.submit t('.update', default: 'Update'), class: 'btn btn-primary'
      = link_to 'Cancel', :back, class: 'btn btn-primary'
:javascript
  $(function(){
    App3.init({datePicker: true});
  });
