= form_for(@project, html: { class: 'form_horizontal'}) do |f|
  .form-field-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'
  .form-field-group
    = f.label :description, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :description, class: 'form-control'
  .form-field-group
    = f.label :start_date, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.date_field :start_date, class: 'form-control datepicker'
  .form-field-group
    = f.label :end_date, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.date_field :end_date, class: 'form-control datepicker'
  .actions.form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-info'
   
